body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1106px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:953px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22313 {
  position:absolute;
  left:149px;
  top:50px;
  width:957px;
  height:953px;
}
#u22314 {
  position:absolute;
  left:2px;
  top:468px;
  width:953px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u22315 {
  position:absolute;
  left:149px;
  top:50px;
  width:957px;
  height:60px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u22316 {
  position:absolute;
  left:2px;
  top:20px;
  width:953px;
  word-wrap:break-word;
}
#u22317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u22317 {
  position:absolute;
  left:1046px;
  top:50px;
  width:60px;
  height:60px;
  font-size:36px;
  color:#FFFFFF;
}
#u22318 {
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u22319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u22319 {
  position:absolute;
  left:298px;
  top:934px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u22319_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u22319.mouseOver {
  opacity:0.8;
}
#u22319_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u22319.mouseDown {
  opacity:1;
}
#u22320 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u22321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 221, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u22321 {
  position:absolute;
  left:479px;
  top:934px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u22321_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u22321.mouseOver {
}
#u22322 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u22323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:724px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u22323 {
  position:absolute;
  left:220px;
  top:172px;
  width:104px;
  height:724px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u22324 {
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u22325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:508px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u22325 {
  position:absolute;
  left:571px;
  top:172px;
  width:104px;
  height:508px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u22326 {
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u22327 {
  position:absolute;
  left:334px;
  top:199px;
  width:193px;
  height:25px;
}
#u22327_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22328 {
  position:absolute;
  left:334px;
  top:418px;
  width:69px;
  height:16px;
}
#u22329 {
  position:absolute;
  left:16px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u22328_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22330 {
  position:absolute;
  left:424px;
  top:418px;
  width:69px;
  height:16px;
}
#u22331 {
  position:absolute;
  left:16px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u22330_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22332 {
  position:absolute;
  left:334px;
  top:631px;
  width:534px;
  height:113px;
}
#u22333 {
  position:absolute;
  left:2px;
  top:48px;
  width:530px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22334 {
  position:absolute;
  left:334px;
  top:846px;
  width:193px;
  height:25px;
}
#u22334_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22335 {
  position:absolute;
  left:675px;
  top:775px;
  width:193px;
  height:25px;
}
#u22335_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22336 {
  position:absolute;
  left:334px;
  top:775px;
  width:193px;
  height:25px;
}
#u22336_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22337 {
  position:absolute;
  left:675px;
  top:272px;
  width:193px;
  height:22px;
}
#u22337_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u22337_input:disabled {
  color:grayText;
}
#u22338 {
  position:absolute;
  left:334px;
  top:345px;
  width:193px;
  height:22px;
}
#u22338_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u22338_input:disabled {
  color:grayText;
}
#u22339 {
  position:absolute;
  left:675px;
  top:345px;
  width:193px;
  height:22px;
}
#u22339_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u22339_input:disabled {
  color:grayText;
}
#u22340 {
  position:absolute;
  left:334px;
  top:486px;
  width:227px;
  height:25px;
}
#u22340_input {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22341 {
  position:absolute;
  left:334px;
  top:561px;
  width:227px;
  height:25px;
}
#u22341_input {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:203px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22342 {
  position:absolute;
  left:622px;
  top:395px;
  width:283px;
  height:203px;
}
#u22343 {
  position:absolute;
  left:2px;
  top:94px;
  width:279px;
  word-wrap:break-word;
}
#u22344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22344 {
  position:absolute;
  left:194px;
  top:140px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22345 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u22346 {
  position:absolute;
  left:334px;
  top:272px;
  width:193px;
  height:22px;
}
#u22346_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u22346_input:disabled {
  color:grayText;
}
#u22347 {
  position:absolute;
  left:675px;
  top:199px;
  width:193px;
  height:25px;
}
#u22347_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
