body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:692px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27486 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:761px;
}
#u27487 {
  position:absolute;
  left:100px;
  top:50px;
  width:592px;
  height:761px;
}
#u27488 {
  position:absolute;
  left:2px;
  top:372px;
  width:588px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:770px;
}
#u27489 {
  position:absolute;
  left:100px;
  top:811px;
  width:592px;
  height:770px;
}
#u27490 {
  position:absolute;
  left:2px;
  top:377px;
  width:588px;
  visibility:hidden;
  word-wrap:break-word;
}
