body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:768px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2117 {
  position:absolute;
  left:68px;
  top:79px;
  width:705px;
  height:419px;
}
#u2118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2118 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2119 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u2120 {
  position:absolute;
  left:100px;
  top:0px;
  width:500px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2121 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u2122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2122 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2123 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u2124 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:52px;
}
#u2125 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u2126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:52px;
}
#u2126 {
  position:absolute;
  left:100px;
  top:30px;
  width:500px;
  height:52px;
  text-align:left;
}
#u2127 {
  position:absolute;
  left:2px;
  top:18px;
  width:496px;
  word-wrap:break-word;
}
#u2128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u2128 {
  position:absolute;
  left:600px;
  top:30px;
  width:100px;
  height:52px;
}
#u2129 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u2130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u2130 {
  position:absolute;
  left:0px;
  top:82px;
  width:100px;
  height:52px;
}
#u2131 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u2132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:52px;
}
#u2132 {
  position:absolute;
  left:100px;
  top:82px;
  width:500px;
  height:52px;
  text-align:left;
}
#u2133 {
  position:absolute;
  left:2px;
  top:2px;
  width:496px;
  word-wrap:break-word;
}
#u2134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u2134 {
  position:absolute;
  left:600px;
  top:82px;
  width:100px;
  height:52px;
}
#u2135 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2136 {
  position:absolute;
  left:0px;
  top:134px;
  width:100px;
  height:36px;
}
#u2137 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:36px;
}
#u2138 {
  position:absolute;
  left:100px;
  top:134px;
  width:500px;
  height:36px;
  text-align:left;
}
#u2139 {
  position:absolute;
  left:2px;
  top:10px;
  width:496px;
  word-wrap:break-word;
}
#u2140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2140 {
  position:absolute;
  left:600px;
  top:134px;
  width:100px;
  height:36px;
}
#u2141 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u2142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2142 {
  position:absolute;
  left:0px;
  top:170px;
  width:100px;
  height:36px;
}
#u2143 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:36px;
}
#u2144 {
  position:absolute;
  left:100px;
  top:170px;
  width:500px;
  height:36px;
  text-align:left;
}
#u2145 {
  position:absolute;
  left:2px;
  top:2px;
  width:496px;
  word-wrap:break-word;
}
#u2146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2146 {
  position:absolute;
  left:600px;
  top:170px;
  width:100px;
  height:36px;
}
#u2147 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u2148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2148 {
  position:absolute;
  left:0px;
  top:206px;
  width:100px;
  height:36px;
}
#u2149 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:36px;
}
#u2150 {
  position:absolute;
  left:100px;
  top:206px;
  width:500px;
  height:36px;
  text-align:left;
}
#u2151 {
  position:absolute;
  left:2px;
  top:10px;
  width:496px;
  word-wrap:break-word;
}
#u2152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2152 {
  position:absolute;
  left:600px;
  top:206px;
  width:100px;
  height:36px;
}
#u2153 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u2154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2154 {
  position:absolute;
  left:0px;
  top:242px;
  width:100px;
  height:36px;
}
#u2155 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:36px;
}
#u2156 {
  position:absolute;
  left:100px;
  top:242px;
  width:500px;
  height:36px;
  text-align:left;
}
#u2157 {
  position:absolute;
  left:2px;
  top:10px;
  width:496px;
  word-wrap:break-word;
}
#u2158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2158 {
  position:absolute;
  left:600px;
  top:242px;
  width:100px;
  height:36px;
}
#u2159 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u2160 {
  position:absolute;
  left:0px;
  top:278px;
  width:100px;
  height:52px;
}
#u2161 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u2162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:52px;
}
#u2162 {
  position:absolute;
  left:100px;
  top:278px;
  width:500px;
  height:52px;
  text-align:left;
}
#u2163 {
  position:absolute;
  left:2px;
  top:18px;
  width:496px;
  word-wrap:break-word;
}
#u2164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u2164 {
  position:absolute;
  left:600px;
  top:278px;
  width:100px;
  height:52px;
}
#u2165 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u2166 {
  position:absolute;
  left:0px;
  top:330px;
  width:100px;
  height:84px;
}
#u2167 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u2168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:84px;
}
#u2168 {
  position:absolute;
  left:100px;
  top:330px;
  width:500px;
  height:84px;
  text-align:left;
}
#u2169 {
  position:absolute;
  left:2px;
  top:2px;
  width:496px;
  word-wrap:break-word;
}
#u2170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:84px;
}
#u2170 {
  position:absolute;
  left:600px;
  top:330px;
  width:100px;
  height:84px;
}
#u2171 {
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2172 {
  position:absolute;
  left:68px;
  top:47px;
  width:127px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2173 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
