body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1106px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:646px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23447 {
  position:absolute;
  left:149px;
  top:50px;
  width:957px;
  height:646px;
}
#u23448 {
  position:absolute;
  left:2px;
  top:315px;
  width:953px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u23449 {
  position:absolute;
  left:149px;
  top:50px;
  width:957px;
  height:60px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u23450 {
  position:absolute;
  left:2px;
  top:20px;
  width:953px;
  word-wrap:break-word;
}
#u23451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u23451 {
  position:absolute;
  left:1046px;
  top:50px;
  width:60px;
  height:60px;
  font-size:36px;
  color:#FFFFFF;
}
#u23452 {
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u23453 {
  position:absolute;
  left:178px;
  top:164px;
  width:905px;
  height:101px;
}
#u23454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23454 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23455 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u23456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u23456 {
  position:absolute;
  left:100px;
  top:0px;
  width:200px;
  height:30px;
}
#u23457 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u23458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u23458 {
  position:absolute;
  left:300px;
  top:0px;
  width:200px;
  height:30px;
}
#u23459 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u23460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u23460 {
  position:absolute;
  left:500px;
  top:0px;
  width:200px;
  height:30px;
}
#u23461 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u23462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23462 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:30px;
}
#u23463 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u23464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23464 {
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:30px;
}
#u23465 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u23466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u23466 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:36px;
}
#u23467 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u23468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
}
#u23468 {
  position:absolute;
  left:100px;
  top:30px;
  width:200px;
  height:36px;
}
#u23469 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u23470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
}
#u23470 {
  position:absolute;
  left:300px;
  top:30px;
  width:200px;
  height:36px;
}
#u23471 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u23472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:36px;
}
#u23472 {
  position:absolute;
  left:500px;
  top:30px;
  width:200px;
  height:36px;
}
#u23473 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  word-wrap:break-word;
}
#u23474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u23474 {
  position:absolute;
  left:700px;
  top:30px;
  width:100px;
  height:36px;
}
#u23475 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u23476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u23476 {
  position:absolute;
  left:800px;
  top:30px;
  width:100px;
  height:36px;
  color:#199ED8;
}
#u23477 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u23478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23478 {
  position:absolute;
  left:0px;
  top:66px;
  width:100px;
  height:30px;
}
#u23479 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u23480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u23480 {
  position:absolute;
  left:100px;
  top:66px;
  width:200px;
  height:30px;
}
#u23481 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u23482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u23482 {
  position:absolute;
  left:300px;
  top:66px;
  width:200px;
  height:30px;
}
#u23483 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u23484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u23484 {
  position:absolute;
  left:500px;
  top:66px;
  width:200px;
  height:30px;
}
#u23485 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u23486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23486 {
  position:absolute;
  left:700px;
  top:66px;
  width:100px;
  height:30px;
}
#u23487 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u23488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23488 {
  position:absolute;
  left:800px;
  top:66px;
  width:100px;
  height:30px;
  color:#199ED8;
}
#u23489 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u23490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23490 {
  position:absolute;
  left:210px;
  top:608px;
  width:140px;
  height:40px;
}
#u23491 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
