body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1106px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:1122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24193 {
  position:absolute;
  left:149px;
  top:50px;
  width:957px;
  height:1122px;
}
#u24194 {
  position:absolute;
  left:2px;
  top:553px;
  width:953px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u24195 {
  position:absolute;
  left:149px;
  top:50px;
  width:957px;
  height:60px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u24196 {
  position:absolute;
  left:2px;
  top:20px;
  width:953px;
  word-wrap:break-word;
}
#u24197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u24197 {
  position:absolute;
  left:1046px;
  top:50px;
  width:60px;
  height:60px;
  font-size:36px;
  color:#FFFFFF;
}
#u24198 {
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u24199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24199 {
  position:absolute;
  left:283px;
  top:1098px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24199_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24199.mouseOver {
  opacity:0.8;
}
#u24199_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24199.mouseDown {
  opacity:1;
}
#u24200 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u24201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 221, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u24201 {
  position:absolute;
  left:464px;
  top:1098px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u24201_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u24201.mouseOver {
}
#u24202 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u24203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:580px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u24203 {
  position:absolute;
  left:220px;
  top:172px;
  width:104px;
  height:580px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u24204 {
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u24205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:580px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u24205 {
  position:absolute;
  left:571px;
  top:172px;
  width:104px;
  height:580px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u24206 {
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u24207 {
  position:absolute;
  left:334px;
  top:199px;
  width:193px;
  height:25px;
}
#u24207_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24208 {
  position:absolute;
  left:675px;
  top:269px;
  width:193px;
  height:25px;
}
#u24208_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24209 {
  position:absolute;
  left:675px;
  top:346px;
  width:69px;
  height:16px;
}
#u24210 {
  position:absolute;
  left:16px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u24209_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24211 {
  position:absolute;
  left:765px;
  top:346px;
  width:69px;
  height:16px;
}
#u24212 {
  position:absolute;
  left:16px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u24211_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24213 {
  position:absolute;
  left:334px;
  top:482px;
  width:193px;
  height:30px;
}
#u24213_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u24213_input:disabled {
  color:grayText;
}
#u24214 {
  position:absolute;
  left:334px;
  top:408px;
  width:193px;
  height:30px;
}
#u24214_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u24214_input:disabled {
  color:grayText;
}
#u24215 {
  position:absolute;
  left:675px;
  top:199px;
  width:193px;
  height:25px;
}
#u24215_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24216 {
  position:absolute;
  left:334px;
  top:559px;
  width:534px;
  height:113px;
}
#u24217 {
  position:absolute;
  left:2px;
  top:48px;
  width:530px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24218 {
  position:absolute;
  left:334px;
  top:262px;
  width:193px;
  height:40px;
}
#u24218_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u24218_input:disabled {
  color:grayText;
}
#u24219 {
  position:absolute;
  left:334px;
  top:334px;
  width:193px;
  height:40px;
}
#u24219_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u24219_input:disabled {
  color:grayText;
}
#u24220 {
  position:absolute;
  left:675px;
  top:408px;
  width:193px;
  height:30px;
}
#u24220_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u24220_input:disabled {
  color:grayText;
}
#u24221 {
  position:absolute;
  left:334px;
  top:702px;
  width:193px;
  height:25px;
}
#u24221_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24222 {
  position:absolute;
  left:675px;
  top:696px;
  width:193px;
  height:25px;
}
#u24222_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:744px;
  height:243px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24223 {
  position:absolute;
  left:227px;
  top:783px;
  width:744px;
  height:243px;
}
#u24224 {
  position:absolute;
  left:2px;
  top:114px;
  width:740px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24225 {
  position:absolute;
  left:251px;
  top:775px;
  width:85px;
  height:16px;
}
#u24226 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u24227 {
  position:absolute;
  left:251px;
  top:818px;
  width:565px;
  height:95px;
}
#u24228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u24228 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u24229 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u24230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24230 {
  position:absolute;
  left:160px;
  top:0px;
  width:100px;
  height:30px;
}
#u24231 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u24232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u24232 {
  position:absolute;
  left:260px;
  top:0px;
  width:200px;
  height:30px;
}
#u24233 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u24234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24234 {
  position:absolute;
  left:460px;
  top:0px;
  width:100px;
  height:30px;
}
#u24235 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u24236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u24236 {
  position:absolute;
  left:0px;
  top:30px;
  width:160px;
  height:30px;
}
#u24237 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u24238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24238 {
  position:absolute;
  left:160px;
  top:30px;
  width:100px;
  height:30px;
}
#u24239 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u24240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u24240 {
  position:absolute;
  left:260px;
  top:30px;
  width:200px;
  height:30px;
}
#u24241 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u24242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24242 {
  position:absolute;
  left:460px;
  top:30px;
  width:100px;
  height:30px;
}
#u24243 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u24244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u24244 {
  position:absolute;
  left:0px;
  top:60px;
  width:160px;
  height:30px;
}
#u24245 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u24246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24246 {
  position:absolute;
  left:160px;
  top:60px;
  width:100px;
  height:30px;
}
#u24247 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u24248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u24248 {
  position:absolute;
  left:260px;
  top:60px;
  width:200px;
  height:30px;
}
#u24249 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u24250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24250 {
  position:absolute;
  left:460px;
  top:60px;
  width:100px;
  height:30px;
}
#u24251 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
