body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1106px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:1386px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21842 {
  position:absolute;
  left:149px;
  top:50px;
  width:957px;
  height:1386px;
}
#u21843 {
  position:absolute;
  left:2px;
  top:685px;
  width:953px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u21844 {
  position:absolute;
  left:149px;
  top:50px;
  width:957px;
  height:60px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u21845 {
  position:absolute;
  left:2px;
  top:20px;
  width:953px;
  word-wrap:break-word;
}
#u21846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u21846 {
  position:absolute;
  left:1046px;
  top:50px;
  width:60px;
  height:60px;
  font-size:36px;
  color:#FFFFFF;
}
#u21847 {
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u21848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21848 {
  position:absolute;
  left:166px;
  top:156px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21849 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u21850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:292px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u21850 {
  position:absolute;
  left:200px;
  top:194px;
  width:104px;
  height:292px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u21851 {
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u21852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u21852 {
  position:absolute;
  left:557px;
  top:194px;
  width:104px;
  height:220px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u21853 {
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u21854 {
  position:absolute;
  left:314px;
  top:294px;
  width:193px;
  height:25px;
}
#u21854_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21855 {
  position:absolute;
  left:314px;
  top:366px;
  width:193px;
  height:25px;
}
#u21855_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21856 {
  position:absolute;
  left:166px;
  top:1106px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21857 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u21858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u21858 {
  position:absolute;
  left:236px;
  top:1323px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u21858_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u21858.mouseOver {
  opacity:0.8;
}
#u21858_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u21858.mouseDown {
  opacity:1;
}
#u21859 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u21860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 221, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u21860 {
  position:absolute;
  left:417px;
  top:1323px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u21860_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u21860.mouseOver {
}
#u21861 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u21862 {
  position:absolute;
  left:680px;
  top:366px;
  width:193px;
  height:25px;
}
#u21862_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21863 {
  position:absolute;
  left:314px;
  top:223px;
  width:193px;
  height:25px;
}
#u21863_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21864 {
  position:absolute;
  left:680px;
  top:223px;
  width:193px;
  height:25px;
}
#u21864_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:57px;
}
#u21865 {
  position:absolute;
  left:198px;
  top:1162px;
  width:110px;
  height:56px;
}
#u21866 {
  position:absolute;
  left:2px;
  top:20px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21867 {
  position:absolute;
  left:277px;
  top:1198px;
  width:31px;
  height:20px;
}
#u21868 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u21869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:57px;
}
#u21869 {
  position:absolute;
  left:341px;
  top:1162px;
  width:110px;
  height:56px;
}
#u21870 {
  position:absolute;
  left:2px;
  top:20px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21871 {
  position:absolute;
  left:420px;
  top:1198px;
  width:31px;
  height:20px;
}
#u21872 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u21873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:57px;
}
#u21873 {
  position:absolute;
  left:482px;
  top:1162px;
  width:110px;
  height:56px;
}
#u21874 {
  position:absolute;
  left:2px;
  top:20px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21875 {
  position:absolute;
  left:561px;
  top:1198px;
  width:31px;
  height:20px;
}
#u21876 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u21877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:57px;
}
#u21877 {
  position:absolute;
  left:627px;
  top:1162px;
  width:110px;
  height:56px;
}
#u21878 {
  position:absolute;
  left:2px;
  top:20px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21879 {
  position:absolute;
  left:706px;
  top:1198px;
  width:31px;
  height:20px;
}
#u21880 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u21881 {
  position:absolute;
  left:314px;
  top:440px;
  width:59px;
  height:16px;
}
#u21882 {
  position:absolute;
  left:16px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u21881_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21883 {
  position:absolute;
  left:379px;
  top:440px;
  width:59px;
  height:16px;
}
#u21884 {
  position:absolute;
  left:16px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u21883_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21885 {
  position:absolute;
  left:448px;
  top:440px;
  width:59px;
  height:16px;
}
#u21886 {
  position:absolute;
  left:16px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u21885_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21887 {
  position:absolute;
  left:166px;
  top:504px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21888 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u21889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:504px;
}
#u21889 {
  position:absolute;
  left:200px;
  top:545px;
  width:104px;
  height:504px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  line-height:72px;
}
#u21890 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u21891 {
  position:absolute;
  left:304px;
  top:645px;
  width:59px;
  height:16px;
}
#u21892 {
  position:absolute;
  left:16px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u21891_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21893 {
  position:absolute;
  left:394px;
  top:645px;
  width:79px;
  height:16px;
}
#u21894 {
  position:absolute;
  left:16px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u21893_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21895 {
  position:absolute;
  left:483px;
  top:645px;
  width:59px;
  height:16px;
}
#u21896 {
  position:absolute;
  left:16px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u21895_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21897 {
  position:absolute;
  left:573px;
  top:645px;
  width:174px;
  height:16px;
}
#u21898 {
  position:absolute;
  left:16px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u21897_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21899 {
  position:absolute;
  left:764px;
  top:645px;
  width:59px;
  height:16px;
}
#u21900 {
  position:absolute;
  left:16px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u21899_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21901 {
  position:absolute;
  left:304px;
  top:573px;
  width:59px;
  height:16px;
}
#u21902 {
  position:absolute;
  left:16px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u21901_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21903 {
  position:absolute;
  left:394px;
  top:573px;
  width:59px;
  height:16px;
}
#u21904 {
  position:absolute;
  left:16px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u21903_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21905 {
  position:absolute;
  left:304px;
  top:712px;
  width:134px;
  height:22px;
}
#u21905_input {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u21905_input:disabled {
  color:grayText;
}
#u21906 {
  position:absolute;
  left:304px;
  top:787px;
  width:212px;
  height:25px;
}
#u21906_input {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21907 {
  position:absolute;
  left:304px;
  top:856px;
  width:626px;
  height:25px;
}
#u21907_input {
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21908 {
  position:absolute;
  left:304px;
  top:936px;
  width:181px;
  height:16px;
}
#u21909 {
  position:absolute;
  left:16px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u21908_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21910 {
  position:absolute;
  left:497px;
  top:936px;
  width:133px;
  height:16px;
}
#u21911 {
  position:absolute;
  left:16px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u21910_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21912 {
  position:absolute;
  left:643px;
  top:936px;
  width:59px;
  height:16px;
}
#u21913 {
  position:absolute;
  left:16px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u21912_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21914 {
  position:absolute;
  left:304px;
  top:1000px;
  width:626px;
  height:25px;
}
#u21914_input {
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
