body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u876 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:101px;
}
#u877 {
  position:absolute;
  left:50px;
  top:50px;
  width:430px;
  height:101px;
}
#u878 {
  position:absolute;
  left:2px;
  top:42px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:663px;
}
#u879 {
  position:absolute;
  left:50px;
  top:151px;
  width:30px;
  height:663px;
}
#u880 {
  position:absolute;
  left:2px;
  top:324px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:663px;
}
#u881 {
  position:absolute;
  left:454px;
  top:151px;
  width:26px;
  height:663px;
}
#u882 {
  position:absolute;
  left:2px;
  top:324px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:102px;
}
#u883 {
  position:absolute;
  left:50px;
  top:814px;
  width:430px;
  height:102px;
}
#u884 {
  position:absolute;
  left:2px;
  top:43px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:658px;
}
#u885 {
  position:absolute;
  left:79px;
  top:218px;
  width:375px;
  height:658px;
}
#u886 {
  position:absolute;
  left:2px;
  top:321px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:68px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u887 {
  position:absolute;
  left:80px;
  top:150px;
  width:376px;
  height:68px;
  font-size:16px;
}
#u888 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  word-wrap:break-word;
}
#u890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u890 {
  position:absolute;
  left:92px;
  top:170px;
  width:30px;
  height:30px;
}
#u891 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:48px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u892 {
  position:absolute;
  left:92px;
  top:876px;
  width:174px;
  height:48px;
}
#u893 {
  position:absolute;
  left:2px;
  top:16px;
  width:170px;
  word-wrap:break-word;
}
#u894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:48px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u894 {
  position:absolute;
  left:266px;
  top:876px;
  width:174px;
  height:48px;
}
#u895 {
  position:absolute;
  left:2px;
  top:16px;
  width:170px;
  word-wrap:break-word;
}
