body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1497px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:1715px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22979 {
  position:absolute;
  left:149px;
  top:50px;
  width:957px;
  height:1715px;
}
#u22980 {
  position:absolute;
  left:2px;
  top:850px;
  width:953px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u22981 {
  position:absolute;
  left:149px;
  top:50px;
  width:957px;
  height:60px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u22982 {
  position:absolute;
  left:2px;
  top:20px;
  width:953px;
  word-wrap:break-word;
}
#u22983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u22983 {
  position:absolute;
  left:1046px;
  top:50px;
  width:60px;
  height:60px;
  font-size:36px;
  color:#FFFFFF;
}
#u22984 {
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u22985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u22985 {
  position:absolute;
  left:306px;
  top:1655px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u22985_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u22985.mouseOver {
  opacity:0.8;
}
#u22985_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u22985.mouseDown {
  opacity:1;
}
#u22986 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u22987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 221, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u22987 {
  position:absolute;
  left:487px;
  top:1655px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u22987_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u22987.mouseOver {
}
#u22988 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u22989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:436px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u22989 {
  position:absolute;
  left:224px;
  top:179px;
  width:104px;
  height:436px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u22990 {
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u22991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:436px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u22991 {
  position:absolute;
  left:575px;
  top:179px;
  width:104px;
  height:436px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u22992 {
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u22993 {
  position:absolute;
  left:338px;
  top:206px;
  width:193px;
  height:25px;
}
#u22993_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22994 {
  position:absolute;
  left:679px;
  top:277px;
  width:193px;
  height:25px;
}
#u22994_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u22995 {
  position:absolute;
  left:224px;
  top:1519px;
  width:104px;
  height:76px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u22996 {
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u22997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u22997 {
  position:absolute;
  left:580px;
  top:1519px;
  width:104px;
  height:76px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u22998 {
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u22999 {
  position:absolute;
  left:338px;
  top:277px;
  width:193px;
  height:25px;
}
#u22999_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23000 {
  position:absolute;
  left:338px;
  top:1545px;
  width:193px;
  height:25px;
}
#u23000_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23001 {
  position:absolute;
  left:679px;
  top:1545px;
  width:193px;
  height:25px;
}
#u23001_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23002 {
  position:absolute;
  left:224px;
  top:625px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23003 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u23004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23004 {
  position:absolute;
  left:224px;
  top:157px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23005 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u23006 {
  position:absolute;
  left:224px;
  top:679px;
  width:531px;
  height:95px;
}
#u23007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u23007 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u23008 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u23009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u23009 {
  position:absolute;
  left:60px;
  top:0px;
  width:150px;
  height:30px;
}
#u23010 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u23011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23011 {
  position:absolute;
  left:210px;
  top:0px;
  width:100px;
  height:30px;
}
#u23012 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u23013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23013 {
  position:absolute;
  left:310px;
  top:0px;
  width:100px;
  height:30px;
}
#u23014 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u23015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u23015 {
  position:absolute;
  left:410px;
  top:0px;
  width:116px;
  height:30px;
}
#u23016 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u23017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u23017 {
  position:absolute;
  left:0px;
  top:30px;
  width:60px;
  height:30px;
}
#u23018 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u23019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u23019 {
  position:absolute;
  left:60px;
  top:30px;
  width:150px;
  height:30px;
}
#u23020 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u23021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23021 {
  position:absolute;
  left:210px;
  top:30px;
  width:100px;
  height:30px;
}
#u23022 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u23023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23023 {
  position:absolute;
  left:310px;
  top:30px;
  width:100px;
  height:30px;
}
#u23024 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u23025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u23025 {
  position:absolute;
  left:410px;
  top:30px;
  width:116px;
  height:30px;
}
#u23026 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u23027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u23027 {
  position:absolute;
  left:0px;
  top:60px;
  width:60px;
  height:30px;
}
#u23028 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u23029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u23029 {
  position:absolute;
  left:60px;
  top:60px;
  width:150px;
  height:30px;
}
#u23030 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u23031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23031 {
  position:absolute;
  left:210px;
  top:60px;
  width:100px;
  height:30px;
}
#u23032 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u23033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23033 {
  position:absolute;
  left:310px;
  top:60px;
  width:100px;
  height:30px;
}
#u23034 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u23035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u23035 {
  position:absolute;
  left:410px;
  top:60px;
  width:116px;
  height:30px;
}
#u23036 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u23037 {
  position:absolute;
  left:1187px;
  top:672px;
  width:315px;
  height:95px;
}
#u23038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u23038 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u23039 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u23040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u23040 {
  position:absolute;
  left:60px;
  top:0px;
  width:150px;
  height:30px;
}
#u23041 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u23042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23042 {
  position:absolute;
  left:210px;
  top:0px;
  width:100px;
  height:30px;
}
#u23043 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u23044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u23044 {
  position:absolute;
  left:0px;
  top:30px;
  width:60px;
  height:30px;
}
#u23045 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u23046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u23046 {
  position:absolute;
  left:60px;
  top:30px;
  width:150px;
  height:30px;
}
#u23047 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u23048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23048 {
  position:absolute;
  left:210px;
  top:30px;
  width:100px;
  height:30px;
}
#u23049 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u23050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u23050 {
  position:absolute;
  left:0px;
  top:60px;
  width:60px;
  height:30px;
}
#u23051 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u23052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u23052 {
  position:absolute;
  left:60px;
  top:60px;
  width:150px;
  height:30px;
}
#u23053 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u23054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23054 {
  position:absolute;
  left:210px;
  top:60px;
  width:100px;
  height:30px;
}
#u23055 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u23056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23056 {
  position:absolute;
  left:224px;
  top:1158px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23057 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u23058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:148px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u23058 {
  position:absolute;
  left:224px;
  top:1214px;
  width:104px;
  height:148px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u23059 {
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u23060 {
  position:absolute;
  left:328px;
  top:1247px;
  width:100px;
  height:16px;
}
#u23061 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u23060_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23062 {
  position:absolute;
  left:466px;
  top:1247px;
  width:100px;
  height:16px;
}
#u23063 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u23062_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23064 {
  position:absolute;
  left:328px;
  top:1312px;
  width:544px;
  height:170px;
}
#u23065 {
  position:absolute;
  left:2px;
  top:77px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23066 {
  position:absolute;
  left:224px;
  top:1015px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23067 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u23068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u23068 {
  position:absolute;
  left:224px;
  top:1070px;
  width:97px;
  height:20px;
  text-align:left;
}
#u23069 {
  position:absolute;
  left:2px;
  top:2px;
  width:93px;
  white-space:nowrap;
}
#u23070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23070 {
  position:absolute;
  left:224px;
  top:790px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23071 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u23072 {
  position:absolute;
  left:224px;
  top:844px;
  width:731px;
  height:95px;
}
#u23073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u23073 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u23074 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u23075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u23075 {
  position:absolute;
  left:60px;
  top:0px;
  width:150px;
  height:30px;
}
#u23076 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u23077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
}
#u23077 {
  position:absolute;
  left:210px;
  top:0px;
  width:400px;
  height:30px;
}
#u23078 {
  position:absolute;
  left:2px;
  top:7px;
  width:396px;
  word-wrap:break-word;
}
#u23079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u23079 {
  position:absolute;
  left:610px;
  top:0px;
  width:116px;
  height:30px;
}
#u23080 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u23081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u23081 {
  position:absolute;
  left:0px;
  top:30px;
  width:60px;
  height:30px;
}
#u23082 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u23083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u23083 {
  position:absolute;
  left:60px;
  top:30px;
  width:150px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
}
#u23084 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u23085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
}
#u23085 {
  position:absolute;
  left:210px;
  top:30px;
  width:400px;
  height:30px;
}
#u23086 {
  position:absolute;
  left:2px;
  top:7px;
  width:396px;
  word-wrap:break-word;
}
#u23087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u23087 {
  position:absolute;
  left:610px;
  top:30px;
  width:116px;
  height:30px;
  color:#199ED8;
}
#u23088 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u23089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u23089 {
  position:absolute;
  left:0px;
  top:60px;
  width:60px;
  height:30px;
}
#u23090 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u23091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u23091 {
  position:absolute;
  left:60px;
  top:60px;
  width:150px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
}
#u23092 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u23093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
}
#u23093 {
  position:absolute;
  left:210px;
  top:60px;
  width:400px;
  height:30px;
}
#u23094 {
  position:absolute;
  left:2px;
  top:7px;
  width:396px;
  word-wrap:break-word;
}
#u23095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u23095 {
  position:absolute;
  left:610px;
  top:60px;
  width:116px;
  height:30px;
  color:#199ED8;
}
#u23096 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u23097 {
  position:absolute;
  left:679px;
  top:352px;
  width:193px;
  height:25px;
}
#u23097_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23098 {
  position:absolute;
  left:338px;
  top:352px;
  width:193px;
  height:25px;
}
#u23098_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23099 {
  position:absolute;
  left:679px;
  top:417px;
  width:193px;
  height:25px;
}
#u23099_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23100 {
  position:absolute;
  left:338px;
  top:417px;
  width:193px;
  height:25px;
}
#u23100_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23101 {
  position:absolute;
  left:679px;
  top:491px;
  width:193px;
  height:25px;
}
#u23101_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23102 {
  position:absolute;
  left:338px;
  top:491px;
  width:193px;
  height:25px;
}
#u23102_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23103 {
  position:absolute;
  left:679px;
  top:565px;
  width:193px;
  height:25px;
}
#u23103_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23104 {
  position:absolute;
  left:338px;
  top:565px;
  width:193px;
  height:25px;
}
#u23104_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
