body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1980 {
  position:absolute;
  left:76px;
  top:266px;
  width:377px;
  height:76px;
  text-align:left;
}
#u1981 {
  position:absolute;
  left:2px;
  top:30px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1982 {
  position:absolute;
  left:76px;
  top:352px;
  width:377px;
  height:48px;
  text-align:left;
}
#u1983 {
  position:absolute;
  left:2px;
  top:16px;
  width:373px;
  word-wrap:break-word;
}
#u1984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1984 {
  position:absolute;
  left:76px;
  top:454px;
  width:377px;
  height:48px;
  text-align:left;
}
#u1985 {
  position:absolute;
  left:2px;
  top:16px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1986 {
  position:absolute;
  left:91px;
  top:470px;
  width:129px;
  height:16px;
  color:#999999;
}
#u1987 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
}
#u1988 {
  position:absolute;
  left:91px;
  top:288px;
  width:35px;
  height:28px;
}
#u1989 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1990 {
  position:absolute;
  left:149px;
  top:280px;
  width:57px;
  height:16px;
}
#u1991 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1992 {
  position:absolute;
  left:149px;
  top:306px;
  width:61px;
  height:16px;
  color:#999999;
}
#u1993 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  text-align:left;
}
#u1994 {
  position:absolute;
  left:76px;
  top:400px;
  width:377px;
  height:48px;
  font-size:28px;
  text-align:left;
}
#u1995 {
  position:absolute;
  left:2px;
  top:8px;
  width:373px;
  word-wrap:break-word;
}
#u1996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1996 {
  position:absolute;
  left:403px;
  top:289px;
  width:30px;
  height:30px;
}
#u1997 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1998 {
  position:absolute;
  left:76px;
  top:218px;
  width:377px;
  height:48px;
  text-align:left;
}
#u1999 {
  position:absolute;
  left:2px;
  top:16px;
  width:373px;
  word-wrap:break-word;
}
#u2000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:50px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2000 {
  position:absolute;
  left:98px;
  top:568px;
  width:334px;
  height:50px;
}
#u2001 {
  position:absolute;
  left:2px;
  top:17px;
  width:330px;
  word-wrap:break-word;
}
#u2002 {
  position:absolute;
  left:76px;
  top:264px;
  width:377px;
  height:78px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2004 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:101px;
}
#u2005 {
  position:absolute;
  left:50px;
  top:50px;
  width:430px;
  height:101px;
}
#u2006 {
  position:absolute;
  left:2px;
  top:42px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:663px;
}
#u2007 {
  position:absolute;
  left:50px;
  top:151px;
  width:30px;
  height:663px;
}
#u2008 {
  position:absolute;
  left:2px;
  top:324px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:663px;
}
#u2009 {
  position:absolute;
  left:454px;
  top:151px;
  width:26px;
  height:663px;
}
#u2010 {
  position:absolute;
  left:2px;
  top:324px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:102px;
}
#u2011 {
  position:absolute;
  left:50px;
  top:814px;
  width:430px;
  height:102px;
}
#u2012 {
  position:absolute;
  left:2px;
  top:43px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:68px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2013 {
  position:absolute;
  left:77px;
  top:150px;
  width:376px;
  height:68px;
  font-size:16px;
}
#u2014 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  word-wrap:break-word;
}
#u2015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2015 {
  position:absolute;
  left:100px;
  top:169px;
  width:30px;
  height:30px;
}
#u2016 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2017 {
  position:absolute;
  left:388px;
  top:174px;
  width:57px;
  height:20px;
}
#u2018 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
