body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1106px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:1263px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19645 {
  position:absolute;
  left:149px;
  top:50px;
  width:957px;
  height:1263px;
}
#u19646 {
  position:absolute;
  left:2px;
  top:624px;
  width:953px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u19647 {
  position:absolute;
  left:149px;
  top:50px;
  width:957px;
  height:60px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u19648 {
  position:absolute;
  left:2px;
  top:20px;
  width:953px;
  word-wrap:break-word;
}
#u19649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u19649 {
  position:absolute;
  left:1046px;
  top:50px;
  width:60px;
  height:60px;
  font-size:36px;
  color:#FFFFFF;
}
#u19650 {
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u19651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19651 {
  position:absolute;
  left:180px;
  top:402px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19652 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u19653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19653 {
  position:absolute;
  left:180px;
  top:150px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19654 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u19655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u19655 {
  position:absolute;
  left:220px;
  top:172px;
  width:104px;
  height:220px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u19656 {
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u19657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u19657 {
  position:absolute;
  left:571px;
  top:172px;
  width:104px;
  height:220px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u19658 {
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u19659 {
  position:absolute;
  left:334px;
  top:271px;
  width:193px;
  height:25px;
}
#u19659_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19660 {
  position:absolute;
  left:334px;
  top:199px;
  width:193px;
  height:25px;
}
#u19660_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19661 {
  position:absolute;
  left:700px;
  top:199px;
  width:193px;
  height:25px;
}
#u19661_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19662 {
  position:absolute;
  left:700px;
  top:271px;
  width:193px;
  height:25px;
}
#u19662_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19663 {
  position:absolute;
  left:334px;
  top:342px;
  width:193px;
  height:25px;
}
#u19663_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19664 {
  position:absolute;
  left:700px;
  top:342px;
  width:193px;
  height:25px;
}
#u19664_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u19665 {
  position:absolute;
  left:220px;
  top:441px;
  width:104px;
  height:76px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u19666 {
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u19667 {
  position:absolute;
  left:334px;
  top:459px;
  width:193px;
  height:40px;
}
#u19667_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19667_input:disabled {
  color:grayText;
}
#u19668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  height:186px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19668 {
  position:absolute;
  left:220px;
  top:555px;
  width:673px;
  height:186px;
}
#u19669 {
  position:absolute;
  left:2px;
  top:85px;
  width:669px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19670 {
  position:absolute;
  left:236px;
  top:548px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u19671 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19672 {
  position:absolute;
  left:252px;
  top:623px;
  width:708px;
  height:95px;
}
#u19673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u19673 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u19674 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u19675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u19675 {
  position:absolute;
  left:60px;
  top:0px;
  width:60px;
  height:30px;
}
#u19676 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u19677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u19677 {
  position:absolute;
  left:120px;
  top:0px;
  width:150px;
  height:30px;
}
#u19678 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u19679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19679 {
  position:absolute;
  left:270px;
  top:0px;
  width:100px;
  height:30px;
}
#u19680 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u19681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19681 {
  position:absolute;
  left:370px;
  top:0px;
  width:100px;
  height:30px;
}
#u19682 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u19683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u19683 {
  position:absolute;
  left:470px;
  top:0px;
  width:117px;
  height:30px;
}
#u19684 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u19685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u19685 {
  position:absolute;
  left:587px;
  top:0px;
  width:116px;
  height:30px;
}
#u19686 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u19687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u19687 {
  position:absolute;
  left:0px;
  top:30px;
  width:60px;
  height:30px;
}
#u19688 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u19689 {
  position:absolute;
  left:60px;
  top:30px;
  width:60px;
  height:30px;
}
#u19690 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u19691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u19691 {
  position:absolute;
  left:120px;
  top:30px;
  width:150px;
  height:30px;
}
#u19692 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u19693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19693 {
  position:absolute;
  left:270px;
  top:30px;
  width:100px;
  height:30px;
}
#u19694 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u19695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19695 {
  position:absolute;
  left:370px;
  top:30px;
  width:100px;
  height:30px;
}
#u19696 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u19697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u19697 {
  position:absolute;
  left:470px;
  top:30px;
  width:117px;
  height:30px;
}
#u19698 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u19699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u19699 {
  position:absolute;
  left:587px;
  top:30px;
  width:116px;
  height:30px;
  color:#1ABC9C;
}
#u19700 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u19701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u19701 {
  position:absolute;
  left:0px;
  top:60px;
  width:60px;
  height:30px;
}
#u19702 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u19703 {
  position:absolute;
  left:60px;
  top:60px;
  width:60px;
  height:30px;
}
#u19704 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u19705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u19705 {
  position:absolute;
  left:120px;
  top:60px;
  width:150px;
  height:30px;
}
#u19706 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u19707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19707 {
  position:absolute;
  left:270px;
  top:60px;
  width:100px;
  height:30px;
}
#u19708 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u19709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19709 {
  position:absolute;
  left:370px;
  top:60px;
  width:100px;
  height:30px;
}
#u19710 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u19711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u19711 {
  position:absolute;
  left:470px;
  top:60px;
  width:117px;
  height:30px;
}
#u19712 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u19713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u19713 {
  position:absolute;
  left:587px;
  top:60px;
  width:116px;
  height:30px;
  color:#1ABC9C;
}
#u19714 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u19715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:205px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19715 {
  position:absolute;
  left:334px;
  top:802px;
  width:559px;
  height:205px;
}
#u19716 {
  position:absolute;
  left:2px;
  top:94px;
  width:555px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:292px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:right;
  line-height:72px;
}
#u19717 {
  position:absolute;
  left:196px;
  top:802px;
  width:104px;
  height:292px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:right;
  line-height:72px;
}
#u19718 {
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u19719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19719 {
  position:absolute;
  left:252px;
  top:574px;
  width:112px;
  height:31px;
}
#u19720 {
  position:absolute;
  left:2px;
  top:8px;
  width:108px;
  word-wrap:break-word;
}
#u19721 {
  position:absolute;
  left:276px;
  top:660px;
  width:24px;
  height:16px;
}
#u19722 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19721_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19723 {
  position:absolute;
  left:276px;
  top:689px;
  width:24px;
  height:16px;
}
#u19724 {
  position:absolute;
  left:16px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19723_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19725 {
  position:absolute;
  left:252px;
  top:1247px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19725_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19725.mouseOver {
  opacity:0.8;
}
#u19725_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u19725.mouseDown {
  opacity:1;
}
#u19726 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u19727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 221, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u19727 {
  position:absolute;
  left:433px;
  top:1247px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u19727_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u19727.mouseOver {
}
#u19728 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u19729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19729 {
  position:absolute;
  left:361px;
  top:1037px;
  width:140px;
  height:40px;
}
#u19730 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u19731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u19731 {
  position:absolute;
  left:361px;
  top:1096px;
  width:99px;
  height:20px;
  text-align:left;
}
#u19732 {
  position:absolute;
  left:2px;
  top:2px;
  width:95px;
  white-space:nowrap;
}
#u19733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19733 {
  position:absolute;
  left:470px;
  top:1096px;
  width:20px;
  height:20px;
}
#u19734 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
