body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1106px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:1630px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16018 {
  position:absolute;
  left:149px;
  top:50px;
  width:957px;
  height:1630px;
}
#u16019 {
  position:absolute;
  left:2px;
  top:807px;
  width:953px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u16020 {
  position:absolute;
  left:149px;
  top:50px;
  width:957px;
  height:60px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u16021 {
  position:absolute;
  left:2px;
  top:20px;
  width:953px;
  word-wrap:break-word;
}
#u16022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u16022 {
  position:absolute;
  left:1046px;
  top:50px;
  width:60px;
  height:60px;
  font-size:36px;
  color:#FFFFFF;
}
#u16023 {
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u16024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:364px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u16024 {
  position:absolute;
  left:206px;
  top:508px;
  width:104px;
  height:364px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u16025 {
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u16026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:292px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u16026 {
  position:absolute;
  left:557px;
  top:580px;
  width:104px;
  height:292px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u16027 {
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u16028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u16028 {
  position:absolute;
  left:235px;
  top:1640px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u16028_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u16028.mouseOver {
  opacity:0.8;
}
#u16028_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u16028.mouseDown {
  opacity:1;
}
#u16029 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u16030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 221, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u16030 {
  position:absolute;
  left:416px;
  top:1640px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u16030_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u16030.mouseOver {
}
#u16031 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u16032 {
  position:absolute;
  left:320px;
  top:677px;
  width:193px;
  height:25px;
}
#u16032_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16033 {
  position:absolute;
  left:686px;
  top:677px;
  width:193px;
  height:25px;
}
#u16033_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16034 {
  position:absolute;
  left:686px;
  top:820px;
  width:193px;
  height:25px;
}
#u16034_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16035 {
  position:absolute;
  left:320px;
  top:749px;
  width:193px;
  height:25px;
}
#u16035_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16036 {
  position:absolute;
  left:686px;
  top:749px;
  width:193px;
  height:25px;
}
#u16036_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16037 {
  position:absolute;
  left:320px;
  top:607px;
  width:193px;
  height:25px;
}
#u16037_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16038 {
  position:absolute;
  left:686px;
  top:607px;
  width:193px;
  height:25px;
}
#u16038_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16039 {
  position:absolute;
  left:166px;
  top:476px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16040 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u16041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16041 {
  position:absolute;
  left:166px;
  top:872px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16042 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u16043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u16043 {
  position:absolute;
  left:206px;
  top:923px;
  width:104px;
  height:220px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u16044 {
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u16045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u16045 {
  position:absolute;
  left:557px;
  top:923px;
  width:104px;
  height:220px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u16046 {
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u16047 {
  position:absolute;
  left:320px;
  top:1095px;
  width:193px;
  height:25px;
}
#u16047_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16048 {
  position:absolute;
  left:686px;
  top:1095px;
  width:193px;
  height:25px;
}
#u16048_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16049 {
  position:absolute;
  left:320px;
  top:1025px;
  width:193px;
  height:25px;
}
#u16049_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16050 {
  position:absolute;
  left:686px;
  top:1025px;
  width:193px;
  height:25px;
}
#u16050_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16051 {
  position:absolute;
  left:896px;
  top:1095px;
  width:83px;
  height:20px;
}
#u16052 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u16053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16053 {
  position:absolute;
  left:166px;
  top:1145px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16054 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u16055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:364px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u16055 {
  position:absolute;
  left:200px;
  top:1194px;
  width:176px;
  height:364px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u16056 {
  position:absolute;
  left:2px;
  top:2px;
  width:172px;
  word-wrap:break-word;
}
#u16057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:57px;
}
#u16057 {
  position:absolute;
  left:389px;
  top:1202px;
  width:110px;
  height:56px;
}
#u16058 {
  position:absolute;
  left:2px;
  top:20px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:57px;
}
#u16059 {
  position:absolute;
  left:389px;
  top:1276px;
  width:110px;
  height:56px;
}
#u16060 {
  position:absolute;
  left:2px;
  top:20px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16061 {
  position:absolute;
  left:468px;
  top:1238px;
  width:31px;
  height:20px;
}
#u16062 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u16063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16063 {
  position:absolute;
  left:468px;
  top:1312px;
  width:31px;
  height:20px;
}
#u16064 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u16065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:57px;
}
#u16065 {
  position:absolute;
  left:389px;
  top:1354px;
  width:110px;
  height:56px;
}
#u16066 {
  position:absolute;
  left:2px;
  top:20px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16067 {
  position:absolute;
  left:468px;
  top:1390px;
  width:31px;
  height:20px;
}
#u16068 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u16069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:57px;
}
#u16069 {
  position:absolute;
  left:389px;
  top:1428px;
  width:110px;
  height:56px;
}
#u16070 {
  position:absolute;
  left:2px;
  top:20px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16071 {
  position:absolute;
  left:468px;
  top:1464px;
  width:31px;
  height:20px;
}
#u16072 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u16073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:57px;
}
#u16073 {
  position:absolute;
  left:389px;
  top:1502px;
  width:110px;
  height:56px;
}
#u16074 {
  position:absolute;
  left:2px;
  top:20px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16075 {
  position:absolute;
  left:468px;
  top:1538px;
  width:31px;
  height:20px;
}
#u16076 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u16077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16077 {
  position:absolute;
  left:166px;
  top:300px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16078 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u16079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:148px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u16079 {
  position:absolute;
  left:206px;
  top:322px;
  width:104px;
  height:148px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u16080 {
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u16081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:148px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u16081 {
  position:absolute;
  left:557px;
  top:325px;
  width:104px;
  height:148px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u16082 {
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u16083 {
  position:absolute;
  left:320px;
  top:538px;
  width:193px;
  height:25px;
}
#u16083_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16084 {
  position:absolute;
  left:320px;
  top:418px;
  width:193px;
  height:25px;
}
#u16084_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16085 {
  position:absolute;
  left:320px;
  top:349px;
  width:193px;
  height:25px;
}
#u16085_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16086 {
  position:absolute;
  left:686px;
  top:349px;
  width:193px;
  height:25px;
}
#u16086_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16087 {
  position:absolute;
  left:320px;
  top:820px;
  width:193px;
  height:25px;
}
#u16087_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16088 {
  position:absolute;
  left:320px;
  top:950px;
  width:193px;
  height:25px;
}
#u16088_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16089 {
  position:absolute;
  left:166px;
  top:156px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16090 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u16091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u16091 {
  position:absolute;
  left:200px;
  top:200px;
  width:104px;
  height:76px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u16092 {
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u16093 {
  position:absolute;
  left:686px;
  top:418px;
  width:193px;
  height:25px;
}
#u16093_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16094 {
  position:absolute;
  left:686px;
  top:950px;
  width:193px;
  height:25px;
}
#u16094_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16095 {
  position:absolute;
  left:320px;
  top:220px;
  width:193px;
  height:40px;
}
#u16095_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u16095_input:disabled {
  color:grayText;
}
