body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:768px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2213 {
  position:absolute;
  left:68px;
  top:79px;
  width:705px;
  height:191px;
}
#u2214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2214 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2215 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u2216 {
  position:absolute;
  left:100px;
  top:0px;
  width:500px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2217 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u2218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2218 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2219 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u2220 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:52px;
}
#u2221 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u2222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:52px;
}
#u2222 {
  position:absolute;
  left:100px;
  top:30px;
  width:500px;
  height:52px;
  text-align:left;
}
#u2223 {
  position:absolute;
  left:2px;
  top:18px;
  width:496px;
  word-wrap:break-word;
}
#u2224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u2224 {
  position:absolute;
  left:600px;
  top:30px;
  width:100px;
  height:52px;
}
#u2225 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u2226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u2226 {
  position:absolute;
  left:0px;
  top:82px;
  width:100px;
  height:52px;
}
#u2227 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u2228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:52px;
}
#u2228 {
  position:absolute;
  left:100px;
  top:82px;
  width:500px;
  height:52px;
  text-align:left;
}
#u2229 {
  position:absolute;
  left:2px;
  top:18px;
  width:496px;
  word-wrap:break-word;
}
#u2230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u2230 {
  position:absolute;
  left:600px;
  top:82px;
  width:100px;
  height:52px;
}
#u2231 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u2232 {
  position:absolute;
  left:0px;
  top:134px;
  width:100px;
  height:52px;
}
#u2233 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u2234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:52px;
}
#u2234 {
  position:absolute;
  left:100px;
  top:134px;
  width:500px;
  height:52px;
  text-align:left;
}
#u2235 {
  position:absolute;
  left:2px;
  top:18px;
  width:496px;
  word-wrap:break-word;
}
#u2236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u2236 {
  position:absolute;
  left:600px;
  top:134px;
  width:100px;
  height:52px;
}
#u2237 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2238 {
  position:absolute;
  left:68px;
  top:47px;
  width:145px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2239 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
