body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1370 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:101px;
}
#u1371 {
  position:absolute;
  left:50px;
  top:50px;
  width:430px;
  height:101px;
}
#u1372 {
  position:absolute;
  left:2px;
  top:42px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:663px;
}
#u1373 {
  position:absolute;
  left:50px;
  top:151px;
  width:30px;
  height:663px;
}
#u1374 {
  position:absolute;
  left:2px;
  top:324px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:663px;
}
#u1375 {
  position:absolute;
  left:454px;
  top:151px;
  width:26px;
  height:663px;
}
#u1376 {
  position:absolute;
  left:2px;
  top:324px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:102px;
}
#u1377 {
  position:absolute;
  left:50px;
  top:814px;
  width:430px;
  height:102px;
}
#u1378 {
  position:absolute;
  left:2px;
  top:43px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:735px;
}
#u1379 {
  position:absolute;
  left:81px;
  top:218px;
  width:375px;
  height:735px;
}
#u1380 {
  position:absolute;
  left:2px;
  top:360px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:68px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1381 {
  position:absolute;
  left:80px;
  top:150px;
  width:376px;
  height:68px;
  font-size:16px;
}
#u1382 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  word-wrap:break-word;
}
#u1384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1384 {
  position:absolute;
  left:92px;
  top:170px;
  width:30px;
  height:30px;
}
#u1385 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
