body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1106px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:991px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18492 {
  position:absolute;
  left:149px;
  top:50px;
  width:957px;
  height:991px;
}
#u18493 {
  position:absolute;
  left:2px;
  top:488px;
  width:953px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u18494 {
  position:absolute;
  left:149px;
  top:50px;
  width:957px;
  height:60px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u18495 {
  position:absolute;
  left:2px;
  top:20px;
  width:953px;
  word-wrap:break-word;
}
#u18496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u18496 {
  position:absolute;
  left:1046px;
  top:50px;
  width:60px;
  height:60px;
  font-size:36px;
  color:#FFFFFF;
}
#u18497 {
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u18498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18498 {
  position:absolute;
  left:166px;
  top:156px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18499 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u18500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:292px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u18500 {
  position:absolute;
  left:200px;
  top:201px;
  width:104px;
  height:292px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u18501 {
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u18502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u18502 {
  position:absolute;
  left:557px;
  top:201px;
  width:104px;
  height:220px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u18503 {
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u18504 {
  position:absolute;
  left:680px;
  top:300px;
  width:193px;
  height:25px;
}
#u18504_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18505 {
  position:absolute;
  left:314px;
  top:293px;
  width:193px;
  height:40px;
}
#u18505_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u18505_input:disabled {
  color:grayText;
}
#u18506 {
  position:absolute;
  left:312px;
  top:377px;
  width:100px;
  height:16px;
}
#u18507 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u18506_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18508 {
  position:absolute;
  left:422px;
  top:377px;
  width:100px;
  height:16px;
}
#u18509 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u18508_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18510 {
  position:absolute;
  left:314px;
  top:223px;
  width:193px;
  height:25px;
}
#u18510_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18511 {
  position:absolute;
  left:680px;
  top:223px;
  width:193px;
  height:25px;
}
#u18511_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18512 {
  position:absolute;
  left:680px;
  top:378px;
  width:199px;
  height:22px;
}
#u18512_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u18512_input:disabled {
  color:grayText;
}
#u18513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18513 {
  position:absolute;
  left:680px;
  top:417px;
  width:57px;
  height:20px;
}
#u18514 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u18515 {
  position:absolute;
  left:313px;
  top:445px;
  width:199px;
  height:22px;
}
#u18515_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u18515_input:disabled {
  color:grayText;
}
#u18516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18516 {
  position:absolute;
  left:190px;
  top:477px;
  width:80px;
  height:28px;
}
#u18517 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u18518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18518 {
  position:absolute;
  left:259px;
  top:467px;
  width:20px;
  height:20px;
}
#u18519 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18520 {
  position:absolute;
  left:294px;
  top:477px;
  width:80px;
  height:28px;
}
#u18521 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u18522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18522 {
  position:absolute;
  left:363px;
  top:467px;
  width:20px;
  height:20px;
}
#u18523 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18524 {
  position:absolute;
  left:393px;
  top:477px;
  width:80px;
  height:28px;
}
#u18525 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u18526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18526 {
  position:absolute;
  left:462px;
  top:467px;
  width:20px;
  height:20px;
}
#u18527 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18528 {
  position:absolute;
  left:498px;
  top:481px;
  width:31px;
  height:20px;
}
#u18529 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u18530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18530 {
  position:absolute;
  left:166px;
  top:543px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18531 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u18532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:292px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u18532 {
  position:absolute;
  left:206px;
  top:582px;
  width:104px;
  height:292px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u18533 {
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u18534 {
  position:absolute;
  left:320px;
  top:602px;
  width:193px;
  height:40px;
}
#u18534_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u18534_input:disabled {
  color:grayText;
}
#u18535 {
  position:absolute;
  left:320px;
  top:680px;
  width:193px;
  height:25px;
}
#u18535_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u18536 {
  position:absolute;
  left:320px;
  top:753px;
  width:193px;
  height:25px;
}
#u18536_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u18537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18537 {
  position:absolute;
  left:320px;
  top:715px;
  width:80px;
  height:28px;
}
#u18538 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u18539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18539 {
  position:absolute;
  left:389px;
  top:705px;
  width:20px;
  height:20px;
}
#u18540 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18541 {
  position:absolute;
  left:424px;
  top:715px;
  width:80px;
  height:28px;
}
#u18542 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u18543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18543 {
  position:absolute;
  left:493px;
  top:705px;
  width:20px;
  height:20px;
}
#u18544 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18545 {
  position:absolute;
  left:320px;
  top:788px;
  width:80px;
  height:28px;
}
#u18546 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u18547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18547 {
  position:absolute;
  left:389px;
  top:778px;
  width:20px;
  height:20px;
}
#u18548 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18549_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18549 {
  position:absolute;
  left:424px;
  top:788px;
  width:80px;
  height:28px;
}
#u18550 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u18551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18551 {
  position:absolute;
  left:493px;
  top:778px;
  width:20px;
  height:20px;
}
#u18552 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18553_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18553 {
  position:absolute;
  left:523px;
  top:715px;
  width:80px;
  height:28px;
}
#u18554 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u18555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18555 {
  position:absolute;
  left:592px;
  top:705px;
  width:20px;
  height:20px;
}
#u18556 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18557 {
  position:absolute;
  left:627px;
  top:715px;
  width:80px;
  height:28px;
}
#u18558 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u18559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18559 {
  position:absolute;
  left:696px;
  top:705px;
  width:20px;
  height:20px;
}
#u18560 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18561_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:29px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18561 {
  position:absolute;
  left:548px;
  top:676px;
  width:91px;
  height:29px;
}
#u18562 {
  position:absolute;
  left:2px;
  top:6px;
  width:87px;
  word-wrap:break-word;
}
#u18563_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:29px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18563 {
  position:absolute;
  left:548px;
  top:753px;
  width:91px;
  height:29px;
}
#u18564 {
  position:absolute;
  left:2px;
  top:6px;
  width:87px;
  word-wrap:break-word;
}
#u18565 {
  position:absolute;
  left:320px;
  top:826px;
  width:193px;
  height:25px;
}
#u18565_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u18566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u18566 {
  position:absolute;
  left:320px;
  top:861px;
  width:80px;
  height:28px;
  font-size:14px;
}
#u18567 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u18568_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18568 {
  position:absolute;
  left:389px;
  top:851px;
  width:20px;
  height:20px;
}
#u18569 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u18570 {
  position:absolute;
  left:424px;
  top:861px;
  width:80px;
  height:28px;
  font-size:14px;
}
#u18571 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u18572_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18572 {
  position:absolute;
  left:493px;
  top:851px;
  width:20px;
  height:20px;
}
#u18573 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18574_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:29px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18574 {
  position:absolute;
  left:548px;
  top:826px;
  width:91px;
  height:29px;
}
#u18575 {
  position:absolute;
  left:2px;
  top:6px;
  width:87px;
  word-wrap:break-word;
}
#u18576_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u18576 {
  position:absolute;
  left:200px;
  top:949px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u18576_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u18576.mouseOver {
  opacity:0.8;
}
#u18576_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u18576.mouseDown {
  opacity:1;
}
#u18577 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u18578_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 221, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u18578 {
  position:absolute;
  left:381px;
  top:949px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u18578_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u18578.mouseOver {
}
#u18579 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
