body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:665px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10297 {
  position:absolute;
  left:65px;
  top:62px;
  width:600px;
  height:64px;
}
#u10298 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u10299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10299 {
  position:absolute;
  left:65px;
  top:145px;
  width:600px;
  height:32px;
}
#u10300 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u10301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10301 {
  position:absolute;
  left:65px;
  top:199px;
  width:600px;
  height:64px;
}
#u10302 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u10303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10303 {
  position:absolute;
  left:65px;
  top:30px;
  width:127px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10304 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u10305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10305 {
  position:absolute;
  left:65px;
  top:281px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10306 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10307 {
  position:absolute;
  left:65px;
  top:313px;
  width:600px;
  height:48px;
}
#u10308 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
