body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1106px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:980px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24257 {
  position:absolute;
  left:149px;
  top:50px;
  width:957px;
  height:980px;
}
#u24258 {
  position:absolute;
  left:2px;
  top:482px;
  width:953px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u24259 {
  position:absolute;
  left:149px;
  top:50px;
  width:957px;
  height:60px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u24260 {
  position:absolute;
  left:2px;
  top:20px;
  width:953px;
  word-wrap:break-word;
}
#u24261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u24261 {
  position:absolute;
  left:1046px;
  top:50px;
  width:60px;
  height:60px;
  font-size:36px;
  color:#FFFFFF;
}
#u24262 {
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u24263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24263 {
  position:absolute;
  left:263px;
  top:939px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24263_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24263.mouseOver {
  opacity:0.8;
}
#u24263_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24263.mouseDown {
  opacity:1;
}
#u24264 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u24265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u24265 {
  position:absolute;
  left:173px;
  top:137px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u24266 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u24267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:724px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u24267 {
  position:absolute;
  left:155px;
  top:188px;
  width:162px;
  height:724px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u24268 {
  position:absolute;
  left:2px;
  top:2px;
  width:158px;
  word-wrap:break-word;
}
#u24269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:580px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u24269 {
  position:absolute;
  left:564px;
  top:188px;
  width:104px;
  height:580px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u24270 {
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u24271 {
  position:absolute;
  left:327px;
  top:504px;
  width:193px;
  height:25px;
}
#u24271_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24272 {
  position:absolute;
  left:327px;
  top:574px;
  width:193px;
  height:25px;
}
#u24272_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24273 {
  position:absolute;
  left:693px;
  top:504px;
  width:193px;
  height:25px;
}
#u24273_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24274 {
  position:absolute;
  left:327px;
  top:215px;
  width:193px;
  height:25px;
}
#u24274_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24275 {
  position:absolute;
  left:693px;
  top:215px;
  width:193px;
  height:25px;
}
#u24275_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24276 {
  position:absolute;
  left:327px;
  top:354px;
  width:193px;
  height:25px;
}
#u24276_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24277 {
  position:absolute;
  left:327px;
  top:867px;
  width:75px;
  height:16px;
}
#u24278 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u24277_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24279 {
  position:absolute;
  left:424px;
  top:867px;
  width:75px;
  height:16px;
}
#u24280 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u24279_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24281 {
  position:absolute;
  left:327px;
  top:284px;
  width:193px;
  height:25px;
}
#u24281_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24282 {
  position:absolute;
  left:693px;
  top:284px;
  width:193px;
  height:25px;
}
#u24282_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24283 {
  position:absolute;
  left:693px;
  top:354px;
  width:193px;
  height:25px;
}
#u24283_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u24283_input:disabled {
  color:grayText;
}
#u24284 {
  position:absolute;
  left:327px;
  top:430px;
  width:193px;
  height:25px;
}
#u24284_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u24284_input:disabled {
  color:grayText;
}
#u24285 {
  position:absolute;
  left:693px;
  top:430px;
  width:193px;
  height:25px;
}
#u24285_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u24286 {
  position:absolute;
  left:155px;
  top:640px;
  width:118px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u24287 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u24288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u24288 {
  position:absolute;
  left:550px;
  top:640px;
  width:118px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u24289 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u24290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u24290 {
  position:absolute;
  left:155px;
  top:707px;
  width:118px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u24291 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u24292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u24292 {
  position:absolute;
  left:550px;
  top:582px;
  width:118px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
}
#u24293 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u24294 {
  position:absolute;
  left:693px;
  top:648px;
  width:193px;
  height:25px;
}
#u24294_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24295 {
  position:absolute;
  left:693px;
  top:574px;
  width:193px;
  height:25px;
}
#u24295_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24296 {
  position:absolute;
  left:327px;
  top:722px;
  width:193px;
  height:25px;
}
#u24296_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24297 {
  position:absolute;
  left:327px;
  top:648px;
  width:193px;
  height:25px;
}
#u24297_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24298 {
  position:absolute;
  left:693px;
  top:722px;
  width:193px;
  height:25px;
}
#u24298_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24299 {
  position:absolute;
  left:327px;
  top:796px;
  width:193px;
  height:25px;
}
#u24299_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
