body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1565px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:796px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11863 {
  position:absolute;
  left:149px;
  top:50px;
  width:957px;
  height:796px;
}
#u11864 {
  position:absolute;
  left:2px;
  top:390px;
  width:953px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u11865 {
  position:absolute;
  left:149px;
  top:50px;
  width:957px;
  height:60px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u11866 {
  position:absolute;
  left:2px;
  top:20px;
  width:953px;
  word-wrap:break-word;
}
#u11867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u11867 {
  position:absolute;
  left:1046px;
  top:50px;
  width:60px;
  height:60px;
  font-size:36px;
  color:#FFFFFF;
}
#u11868 {
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u11869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:436px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
  line-height:72px;
}
#u11869 {
  position:absolute;
  left:176px;
  top:187px;
  width:104px;
  height:436px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
  line-height:72px;
}
#u11870 {
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u11871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u11871 {
  position:absolute;
  left:236px;
  top:706px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u11871_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u11871.mouseOver {
  opacity:0.8;
}
#u11871_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u11871.mouseDown {
  opacity:1;
}
#u11872 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u11873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 221, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u11873 {
  position:absolute;
  left:417px;
  top:706px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u11873_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u11873.mouseOver {
}
#u11874 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u11875 {
  position:absolute;
  left:290px;
  top:207px;
  width:267px;
  height:40px;
}
#u11875_input {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:40px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u11876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:602px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11876 {
  position:absolute;
  left:290px;
  top:438px;
  width:602px;
  height:113px;
}
#u11877 {
  position:absolute;
  left:2px;
  top:48px;
  width:598px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11878 {
  position:absolute;
  left:290px;
  top:579px;
  width:75px;
  height:16px;
}
#u11879 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u11878_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11880 {
  position:absolute;
  left:387px;
  top:579px;
  width:75px;
  height:16px;
}
#u11881 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u11880_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11882 {
  position:absolute;
  left:290px;
  top:352px;
  width:267px;
  height:40px;
}
#u11882_input {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u11883 {
  position:absolute;
  left:290px;
  top:278px;
  width:267px;
  height:40px;
}
#u11883_input {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:40px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11883_input:disabled {
  color:grayText;
}
#u11884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11884 {
  position:absolute;
  left:1165px;
  top:207px;
  width:400px;
  height:96px;
}
#u11885 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
