body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:695px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u27497 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:842px;
}
#u27498 {
  position:absolute;
  left:100px;
  top:50px;
  width:595px;
  height:842px;
}
#u27499 {
  position:absolute;
  left:2px;
  top:413px;
  width:591px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:842px;
}
#u27500 {
  position:absolute;
  left:100px;
  top:870px;
  width:595px;
  height:842px;
}
#u27501 {
  position:absolute;
  left:2px;
  top:413px;
  width:591px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27502_img {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:842px;
}
#u27502 {
  position:absolute;
  left:100px;
  top:1712px;
  width:595px;
  height:842px;
}
#u27503 {
  position:absolute;
  left:2px;
  top:413px;
  width:591px;
  visibility:hidden;
  word-wrap:break-word;
}
