body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:768px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1969 {
  position:absolute;
  left:68px;
  top:79px;
  width:705px;
  height:427px;
}
#u1970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1970 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1971 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u1972 {
  position:absolute;
  left:100px;
  top:0px;
  width:500px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1973 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u1974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1974 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1975 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u1976 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:52px;
}
#u1977 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u1978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:52px;
}
#u1978 {
  position:absolute;
  left:100px;
  top:30px;
  width:500px;
  height:52px;
  text-align:left;
}
#u1979 {
  position:absolute;
  left:2px;
  top:2px;
  width:496px;
  word-wrap:break-word;
}
#u1980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u1980 {
  position:absolute;
  left:600px;
  top:30px;
  width:100px;
  height:52px;
}
#u1981 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u1982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1982 {
  position:absolute;
  left:0px;
  top:82px;
  width:100px;
  height:36px;
}
#u1983 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:36px;
}
#u1984 {
  position:absolute;
  left:100px;
  top:82px;
  width:500px;
  height:36px;
  text-align:left;
}
#u1985 {
  position:absolute;
  left:2px;
  top:10px;
  width:496px;
  word-wrap:break-word;
}
#u1986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1986 {
  position:absolute;
  left:600px;
  top:82px;
  width:100px;
  height:36px;
}
#u1987 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u1988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1988 {
  position:absolute;
  left:0px;
  top:118px;
  width:100px;
  height:36px;
}
#u1989 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:36px;
}
#u1990 {
  position:absolute;
  left:100px;
  top:118px;
  width:500px;
  height:36px;
  text-align:left;
}
#u1991 {
  position:absolute;
  left:2px;
  top:10px;
  width:496px;
  word-wrap:break-word;
}
#u1992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1992 {
  position:absolute;
  left:600px;
  top:118px;
  width:100px;
  height:36px;
}
#u1993 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1994 {
  position:absolute;
  left:0px;
  top:154px;
  width:100px;
  height:36px;
}
#u1995 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:36px;
}
#u1996 {
  position:absolute;
  left:100px;
  top:154px;
  width:500px;
  height:36px;
  text-align:left;
}
#u1997 {
  position:absolute;
  left:2px;
  top:10px;
  width:496px;
  word-wrap:break-word;
}
#u1998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1998 {
  position:absolute;
  left:600px;
  top:154px;
  width:100px;
  height:36px;
}
#u1999 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u2000 {
  position:absolute;
  left:0px;
  top:190px;
  width:100px;
  height:52px;
}
#u2001 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u2002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:52px;
}
#u2002 {
  position:absolute;
  left:100px;
  top:190px;
  width:500px;
  height:52px;
  text-align:left;
}
#u2003 {
  position:absolute;
  left:2px;
  top:18px;
  width:496px;
  word-wrap:break-word;
}
#u2004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u2004 {
  position:absolute;
  left:600px;
  top:190px;
  width:100px;
  height:52px;
}
#u2005 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u2006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2006 {
  position:absolute;
  left:0px;
  top:242px;
  width:100px;
  height:36px;
}
#u2007 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:36px;
}
#u2008 {
  position:absolute;
  left:100px;
  top:242px;
  width:500px;
  height:36px;
  text-align:left;
}
#u2009 {
  position:absolute;
  left:2px;
  top:10px;
  width:496px;
  word-wrap:break-word;
}
#u2010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2010 {
  position:absolute;
  left:600px;
  top:242px;
  width:100px;
  height:36px;
}
#u2011 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2012 {
  position:absolute;
  left:0px;
  top:278px;
  width:100px;
  height:36px;
}
#u2013 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:36px;
}
#u2014 {
  position:absolute;
  left:100px;
  top:278px;
  width:500px;
  height:36px;
  text-align:left;
}
#u2015 {
  position:absolute;
  left:2px;
  top:10px;
  width:496px;
  word-wrap:break-word;
}
#u2016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2016 {
  position:absolute;
  left:600px;
  top:278px;
  width:100px;
  height:36px;
}
#u2017 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2018 {
  position:absolute;
  left:0px;
  top:314px;
  width:100px;
  height:36px;
}
#u2019 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:36px;
}
#u2020 {
  position:absolute;
  left:100px;
  top:314px;
  width:500px;
  height:36px;
  text-align:left;
}
#u2021 {
  position:absolute;
  left:2px;
  top:10px;
  width:496px;
  word-wrap:break-word;
}
#u2022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2022 {
  position:absolute;
  left:600px;
  top:314px;
  width:100px;
  height:36px;
}
#u2023 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2024 {
  position:absolute;
  left:0px;
  top:350px;
  width:100px;
  height:36px;
}
#u2025 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:36px;
}
#u2026 {
  position:absolute;
  left:100px;
  top:350px;
  width:500px;
  height:36px;
  text-align:left;
}
#u2027 {
  position:absolute;
  left:2px;
  top:10px;
  width:496px;
  word-wrap:break-word;
}
#u2028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2028 {
  position:absolute;
  left:600px;
  top:350px;
  width:100px;
  height:36px;
}
#u2029 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2030 {
  position:absolute;
  left:0px;
  top:386px;
  width:100px;
  height:36px;
}
#u2031 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:36px;
}
#u2032 {
  position:absolute;
  left:100px;
  top:386px;
  width:500px;
  height:36px;
  text-align:left;
}
#u2033 {
  position:absolute;
  left:2px;
  top:10px;
  width:496px;
  word-wrap:break-word;
}
#u2034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u2034 {
  position:absolute;
  left:600px;
  top:386px;
  width:100px;
  height:36px;
}
#u2035 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2036 {
  position:absolute;
  left:68px;
  top:47px;
  width:217px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2037 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
