body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1878 {
  position:absolute;
  left:76px;
  top:266px;
  width:377px;
  height:76px;
  text-align:left;
}
#u1879 {
  position:absolute;
  left:2px;
  top:30px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1880 {
  position:absolute;
  left:76px;
  top:352px;
  width:377px;
  height:48px;
  text-align:left;
}
#u1881 {
  position:absolute;
  left:2px;
  top:16px;
  width:373px;
  word-wrap:break-word;
}
#u1882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1882 {
  position:absolute;
  left:76px;
  top:454px;
  width:377px;
  height:48px;
  text-align:left;
}
#u1883 {
  position:absolute;
  left:2px;
  top:16px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1884 {
  position:absolute;
  left:91px;
  top:470px;
  width:129px;
  height:16px;
  color:#999999;
}
#u1885 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
}
#u1886 {
  position:absolute;
  left:91px;
  top:288px;
  width:35px;
  height:28px;
}
#u1887 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1888 {
  position:absolute;
  left:149px;
  top:280px;
  width:57px;
  height:16px;
}
#u1889 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1890 {
  position:absolute;
  left:149px;
  top:306px;
  width:61px;
  height:16px;
  color:#999999;
}
#u1891 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  text-align:left;
}
#u1892 {
  position:absolute;
  left:76px;
  top:400px;
  width:377px;
  height:48px;
  font-size:28px;
  text-align:left;
}
#u1893 {
  position:absolute;
  left:2px;
  top:8px;
  width:373px;
  word-wrap:break-word;
}
#u1894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1894 {
  position:absolute;
  left:403px;
  top:289px;
  width:30px;
  height:30px;
}
#u1895 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1896 {
  position:absolute;
  left:76px;
  top:218px;
  width:377px;
  height:48px;
  text-align:left;
}
#u1897 {
  position:absolute;
  left:2px;
  top:16px;
  width:373px;
  word-wrap:break-word;
}
#u1898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:50px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1898 {
  position:absolute;
  left:98px;
  top:568px;
  width:334px;
  height:50px;
}
#u1899 {
  position:absolute;
  left:2px;
  top:17px;
  width:330px;
  word-wrap:break-word;
}
#u1900 {
  position:absolute;
  left:76px;
  top:264px;
  width:377px;
  height:78px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1902 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:101px;
}
#u1903 {
  position:absolute;
  left:50px;
  top:50px;
  width:430px;
  height:101px;
}
#u1904 {
  position:absolute;
  left:2px;
  top:42px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:663px;
}
#u1905 {
  position:absolute;
  left:50px;
  top:151px;
  width:30px;
  height:663px;
}
#u1906 {
  position:absolute;
  left:2px;
  top:324px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:663px;
}
#u1907 {
  position:absolute;
  left:454px;
  top:151px;
  width:26px;
  height:663px;
}
#u1908 {
  position:absolute;
  left:2px;
  top:324px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:102px;
}
#u1909 {
  position:absolute;
  left:50px;
  top:814px;
  width:430px;
  height:102px;
}
#u1910 {
  position:absolute;
  left:2px;
  top:43px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:68px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1911 {
  position:absolute;
  left:77px;
  top:150px;
  width:376px;
  height:68px;
  font-size:16px;
}
#u1912 {
  position:absolute;
  left:2px;
  top:24px;
  width:372px;
  word-wrap:break-word;
}
#u1913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1913 {
  position:absolute;
  left:100px;
  top:169px;
  width:30px;
  height:30px;
}
#u1914 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1915 {
  position:absolute;
  left:388px;
  top:174px;
  width:57px;
  height:20px;
}
#u1916 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
