body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1106px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:1122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21219 {
  position:absolute;
  left:149px;
  top:50px;
  width:957px;
  height:1122px;
}
#u21220 {
  position:absolute;
  left:2px;
  top:553px;
  width:953px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u21221 {
  position:absolute;
  left:149px;
  top:50px;
  width:957px;
  height:60px;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u21222 {
  position:absolute;
  left:2px;
  top:20px;
  width:953px;
  word-wrap:break-word;
}
#u21223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u21223 {
  position:absolute;
  left:1046px;
  top:50px;
  width:60px;
  height:60px;
  font-size:36px;
  color:#FFFFFF;
}
#u21224 {
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u21225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u21225 {
  position:absolute;
  left:283px;
  top:1098px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u21225_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u21225.mouseOver {
  opacity:0.8;
}
#u21225_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u21225.mouseDown {
  opacity:1;
}
#u21226 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u21227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 221, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u21227 {
  position:absolute;
  left:464px;
  top:1098px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u21227_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u21227.mouseOver {
}
#u21228 {
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u21229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:580px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u21229 {
  position:absolute;
  left:220px;
  top:172px;
  width:104px;
  height:580px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u21230 {
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u21231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:580px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u21231 {
  position:absolute;
  left:571px;
  top:172px;
  width:104px;
  height:580px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
  line-height:72px;
}
#u21232 {
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u21233 {
  position:absolute;
  left:334px;
  top:199px;
  width:193px;
  height:25px;
}
#u21233_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21234 {
  position:absolute;
  left:675px;
  top:269px;
  width:193px;
  height:25px;
}
#u21234_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21235 {
  position:absolute;
  left:675px;
  top:346px;
  width:69px;
  height:16px;
}
#u21236 {
  position:absolute;
  left:16px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u21235_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21237 {
  position:absolute;
  left:765px;
  top:346px;
  width:69px;
  height:16px;
}
#u21238 {
  position:absolute;
  left:16px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u21237_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21239 {
  position:absolute;
  left:334px;
  top:482px;
  width:193px;
  height:30px;
}
#u21239_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u21239_input:disabled {
  color:grayText;
}
#u21240 {
  position:absolute;
  left:334px;
  top:408px;
  width:193px;
  height:30px;
}
#u21240_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u21240_input:disabled {
  color:grayText;
}
#u21241 {
  position:absolute;
  left:675px;
  top:199px;
  width:193px;
  height:25px;
}
#u21241_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21242 {
  position:absolute;
  left:334px;
  top:559px;
  width:534px;
  height:113px;
}
#u21243 {
  position:absolute;
  left:2px;
  top:48px;
  width:530px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21244 {
  position:absolute;
  left:334px;
  top:262px;
  width:193px;
  height:40px;
}
#u21244_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u21244_input:disabled {
  color:grayText;
}
#u21245 {
  position:absolute;
  left:334px;
  top:334px;
  width:193px;
  height:40px;
}
#u21245_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u21245_input:disabled {
  color:grayText;
}
#u21246 {
  position:absolute;
  left:675px;
  top:408px;
  width:193px;
  height:30px;
}
#u21246_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u21246_input:disabled {
  color:grayText;
}
#u21247 {
  position:absolute;
  left:334px;
  top:702px;
  width:193px;
  height:25px;
}
#u21247_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21248 {
  position:absolute;
  left:675px;
  top:696px;
  width:193px;
  height:25px;
}
#u21248_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  background-color:#F2F2F2;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:744px;
  height:243px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21249 {
  position:absolute;
  left:227px;
  top:783px;
  width:744px;
  height:243px;
}
#u21250 {
  position:absolute;
  left:2px;
  top:114px;
  width:740px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21251 {
  position:absolute;
  left:251px;
  top:775px;
  width:85px;
  height:16px;
}
#u21252 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u21253 {
  position:absolute;
  left:251px;
  top:818px;
  width:565px;
  height:95px;
}
#u21254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u21254 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u21255 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u21256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21256 {
  position:absolute;
  left:160px;
  top:0px;
  width:100px;
  height:30px;
}
#u21257 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u21258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u21258 {
  position:absolute;
  left:260px;
  top:0px;
  width:200px;
  height:30px;
}
#u21259 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u21260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21260 {
  position:absolute;
  left:460px;
  top:0px;
  width:100px;
  height:30px;
}
#u21261 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u21262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u21262 {
  position:absolute;
  left:0px;
  top:30px;
  width:160px;
  height:30px;
}
#u21263 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u21264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21264 {
  position:absolute;
  left:160px;
  top:30px;
  width:100px;
  height:30px;
}
#u21265 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u21266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u21266 {
  position:absolute;
  left:260px;
  top:30px;
  width:200px;
  height:30px;
}
#u21267 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u21268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21268 {
  position:absolute;
  left:460px;
  top:30px;
  width:100px;
  height:30px;
}
#u21269 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u21270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
}
#u21270 {
  position:absolute;
  left:0px;
  top:60px;
  width:160px;
  height:30px;
}
#u21271 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u21272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21272 {
  position:absolute;
  left:160px;
  top:60px;
  width:100px;
  height:30px;
}
#u21273 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u21274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u21274 {
  position:absolute;
  left:260px;
  top:60px;
  width:200px;
  height:30px;
}
#u21275 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u21276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21276 {
  position:absolute;
  left:460px;
  top:60px;
  width:100px;
  height:30px;
}
#u21277 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
